
  <h1>My Todo List</h1>

  <div class="row" *ngFor="let task of allTasks$ | async">

    <mat-checkbox
      [id]="task.id"
      [checked]="task.isComplete"
      (change)="toggleTask(task)">
    </mat-checkbox>

    <label [attr.for]="task.id">{{task.name}}</label>


    <button mat-raised-button
            class="delete"
            (click)="deleteTask(task.id)"
            color="warn"
    >DELETE</button>
  </div>


  <form class="row form" (ngSubmit)="createTask()">
    <mat-form-field class="example-full-width">
      <input name="Task Name"
             matInput
             placeholder="Task Name"
             [(ngModel)]="newTask.name">
    </mat-form-field>

    <div class="btn-parent">
      <button mat-raised-button
              [disabled]="!newTask.name"
              type="submit"
              color="primary">
        ADD
      </button>
    </div>
  </form>
